<%= form_with(model: tweet, local: true) do |form| %>
  <%= form.text_field :image, placeholder: "Image Url" %>

    <%= form.text_field :text, placeholder: "料理名", rows: "1" %>

  <h3>procedure</h3>

    <%= form.text_field :step_1, placeholder: "step 1", rows: "1" %>
    <%= form.text_field :step_2, placeholder: "step 2", rows: "1" %>
    <%= form.text_field :step_3, placeholder: "step 3", rows: "1" %>

  <h3>ingredients</h3>

    <%= form.text_field :ingredient_1, placeholder: "にんじん", rows: "1" %>
    <%= form.text_field :ingredient_2, placeholder: "玉ねぎ", rows: "1" %>
    <%= form.text_field :ingredient_3, placeholder: "じゃがいも", rows: "1" %>

  <%= form.submit "send" %>
<% end %>